<h1>Sample App</h1>
<p>

Home Page
Under Construction
<a href="http://railstutorial.org/">Ruby On Rails Tutorial</a>

</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
